body{
padding: 0px;
width: 100%;
height: 100%;
margin: auto;
font-family: Arial; 
}

#header{
border: 1px solid black;
width: 100%;
height: 100px;
background: black;
}

#main{
border: 1px solid gray;
height: 600px;
width: 100%;
}

#footer{
height: 70px;
border: 1px solid black;
text-align: center;
background: black;
color: white;
}

#nav{
text-align: center;
}

#main #nav{
margin-top: 68px;
margin-right: 480px;
}

#main #nav{
border-radius: 10px;
list-style-type: none;
display: inline;
padding: 3px 8px 3px 8px;
background-color: white;
font-size: 21px;
font-family: #20;
color: black;
}

#main #nav a{
text-decoration: none;
color: black;
}

#main #nav a:hover{
color: white;
}

#main #nav a:visited{
color: black;
}

#main #nav a:active{
color: red;
}
